html {
    scroll-behavior: smooth;
  }
  
body{
    font-family: 'Handlee', cursive !important;
    /* color: white !important; */
}

img{
    height: 50px;
    width: 50px;
}

#outer-banner{
    text-align: center;
    padding-top: 80px; 
    padding-bottom: 110px;
}

#banner2{
    text-align: center;
    padding-top: 50px; 
    padding-bottom: 30px;
}

.landing-container{
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 35%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-message{
    padding-top: 120px;
    padding-left: 450px;
    font-size: 10px;
    color: white
}

.form-container{
    width:70%;
    padding-left: 450px;
}

.get-started{
    padding-left: 250px;
    padding-top: 15px;
}

.dropdown-div{
    background-color: #7fcec5; 
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    min-height: 600px;
    padding-top: 100px;
}

.label-default{
    padding-top:15px;
}

.custom-select{
    margin-bottom: 30px;
    animation: slide-up 0.4s ease;
}

.btn-get-started{
    color: white !important;
    border: 1px solid white !important;
}

#root{
    width: 75%;
    margin: 0 auto;
}

#recent-searches{
    background-color: #7fcec5; 
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    min-height: 700px;
    padding-top: 50px;
    margin-bottom: 50px;
}

#history-label{
    font-size: 2em;
    color: white;
    margin-bottom: 15px;
}

#user-details{
    color:white;
}

#clear-storage{
    margin-bottom: 50px;
}

#form-submit{
    color: white !important;
    border: 1px solid white !important;
    background-color: transparent;
}

#recent-btn{
    padding-bottom: 10px;
}

.errDiv{
    position: -webkit-sticky;
    position: fixed;
    /* top: 20px; */
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-color: yellow;
    visibility: hidden;
}

.anim-div{
    border: 1px solid white;
    border-radius: 15px;
    height: 40px;
    width:50%;
    margin: 0 auto;
    margin-bottom: 15px;
    /* animation: slide-up 0.8s ease; */
    font-size: 1.5em;
    color:white;
}  

.result-div{
    margin-bottom: 20px;
    /* animation: slide-up 0.6s ease; */
    color: white;
    font-size: 2em;
}

.result-anchor{
    color: white;
    animation:gradual 2s ease-in;
}

.result-all{
    color: white;
}

.select-result{
    /* animation: gradual 10s infinite;
    animation-duration: 1.5s; */
    font-size: 0.8em;
}

.err-msg{
    color: red;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate(-50%,-48%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradual {
    0% {
        font-size: 0.5em;
        /* background-color: #001F3F; */
    }
    100% {
        font-size: 0.8em;
        /* background-color: #FF4136; */
    }
}